body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  /* background-color: greenyellow; */
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
  background-image: url("/home/maneesh/Downloads/typing.jpg"); /* Replace with the actual path to your image */
  background-size: cover;
  zoom: 75%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100vw;
}
.nav-list {
  display: flex;
  padding: 10px;

  gap: 60px;
  justify-content: center;
  background-color: white;
  width: 450px;
  height: 70px;
  margin-top: 40px;

  border-radius: 50px;
}
.text-btn {
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 30px;
  border: none;
  width: 100px;
  height: 49px;
  border-radius: 30px;
  background-color: white;
}

.atoz-btn {
  padding-top: 2px;
  border: none;
  width: 200px;
  height: 49px;
  font-size: 30px;
  border-radius: 30px;
  background-color: white;
}
button:hover {
  background-color: lightgrey;
}

.text-container {
  padding: 20px;
  width: 80vw;
  height: 80vh;
  background-color: rgb(216, 215, 232);
  border-radius: 25px;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.text-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.container-atoz {
  width: 80vw;
  max-width: 900px;
  height: 80vh;
  /* padding-top: none; */
  background-color: rgb(216, 215, 232);
  border-radius: 25px;
  padding: 20px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}
html {
  zoom: 67%;
}

.atoz {
  /* width: 100vw; */
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-atoz {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.title-atoz {
  display: flex;
  gap: 350px;
}
.reset-btn {
  border: none;
  font-size: 30px;
  color: white;
  width: 150px;
  height: 60px;
  border-radius: 50px;
  background-color: orangered;
  border: 2px bold orangered;
}
.reset-btn:hover {
  background-color: #33b249;
  cursor: pointer;
}
h1 {
  font-size: 35px;
}
.line {
  width: 100%;
  height: 4px;
  background-color: #33b249;
}
.timer-score {
  width: 100%;
  height: 15%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}
.time {
  display: flex;
  flex-direction: column;
}
.time-text {
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 1px;
  color: #02546c;
}
.time span {
  font-size: 35px;
  margin-left: 4px;
}

.main-atoz {
  width: 100%;
  height: 60%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.letters {
  font-size: 35px;
  letter-spacing: 10px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}
.lines {
  width: 100%;
  height: 4px;
  background-color: grey;
  margin-top: 7px;
}
.span {
  color: #33b249;
  display: block;
  font-size: 150px;
}
.spanerror {
  color: orangered;
  display: block;
  font-size: 150px;
}

.crt {
  font-weight: bolder;
  color: #33b249;
}
.accu-erros {
  display: flex;
  justify-content: space-evenly;
  gap: 130px;
  width: 100%;
  margin-top: 20px;
}
.accuracy {
  font-weight: 500;
  font-size: 40px;
  color: #02546c;
}
.errors {
  font-size: 40px;
  font-weight: 500;
  color: #02546c;
}

.text-header-content {
  font-size: 35px;
}
.text-words {
  letter-spacing: 4px;
  font-size: 60px;
}
.outgoing {
  color: #33b249;
}
.score {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  margin: 20px;
  margin-bottom: 40px;
}
.currentchar {
  font-weight: bold;
  color: #318ce7;
}
.errorchar {
  font-weight: bold;
  color: red;
}
.footer {
  margin-top: 100px;
  text-align: center;
  font-size: 15px;
}
.score h1 {
  color: #02546c;
}
.footer h1 {
  font-size: 50px;
  color: #33b249;
}
.color {
  color: orangered;
}
